Repository cryptocrystian/pravado-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saipienlabs, @architect-team, @backend-team, @dba-team, @devops-team, @security-team, @frontend-team, @ai-team

Theme Tokens v2 - Dark Foundation + Light Content Islands
  PREVIEW-GUIDE.md
  apps/web/_headers
  apps/web/index.html
  apps/web/public/_redirects
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/SEO.tsx
  apps/web/src/styles/globals.css
  apps/web/switch-pr.sh
  apps/web/tailwind.config.js
  cloudflare-setup.md
  demos/pr1-seo-tabs-demo.html
  deploy-previews.sh
  docs/MILESTONE-C-COMPLETE.md
  docs/SECURITY-AUDIT.md
  docs/SEO-Tabs.md
  docs/migrations/006_seo_tables.sql
  docs/migrations/007_visibility_score_snapshots.sql
  docs/migrations/008_security_hardening.sql
  packages/workers/package.json
  packages/workers/src/index.ts
  packages/workers/src/middleware/security.ts
  packages/workers/src/routes/seo.ts
  packages/workers/src/routes/visibility.ts
  preview-prs.sh
  static-demos/pr2-visibility-score-demo.html
Owners: @saipienlabs, @frontend-team, @devops-team

Add Cloudflare Pages headers for security
  apps/web/public/_headers
Owners: @saipienlabs, @frontend-team

Add wrangler.toml for Cloudflare Pages build configuration
  apps/web/wrangler.toml
Owners: @saipienlabs, @frontend-team

Fix Node.js version requirements for CI/CD
  .github/workflows/ci.yml
  .nvmrc
  apps/web/.node-version
  apps/web/package.json
Owners: @saipienlabs, @devops-team, @frontend-team

Fix CI build configuration
  .github/workflows/ci.yml
  apps/web/package.json
Owners: @saipienlabs, @devops-team

Fix conflicting GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/deploy.yml
  .github/workflows/nodejs.yml
Owners: @saipienlabs, @devops-team

Fix Cloudflare Pages 404 issue with relative asset paths
  apps/web/vite.config.ts
Owners: @saipienlabs, @frontend-team

UI Polish P2 — Enterprise Dashboard Layout & Brand Application
  apps/web/src/components/DataTable.tsx
  apps/web/src/components/KPIHero.tsx
  apps/web/src/components/SectionCard.tsx
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/lib/chartTheme.ts
  apps/web/src/main.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/pages/SEO.tsx
  apps/web/src/styles/globals.css
  apps/web/tests/dashboard.spec.ts
Owners: @saipienlabs, @frontend-team

UI Polish P3: Glassmorphism + AI Brand Accents + Enhanced Sidebar
  apps/web/src/components/AppSidebar.tsx
  apps/web/src/components/DataTable.tsx
  apps/web/src/components/KPIHero.tsx
  apps/web/src/components/SectionCard.tsx
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.js
Owners: @saipienlabs, @frontend-team

P4 UI Finalize: Complete Brand System & Enterprise Flow
  apps/web/src/components/AppSidebar.tsx
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/DataTable.tsx
  apps/web/src/components/KPIHero.tsx
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/lib/chartTheme.ts
  apps/web/src/pages/ContentStudio.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
  apps/web/src/types/global.d.ts
  apps/web/tailwind.config.js
  docs/UI-Patterns.md
  package-lock.json
Owners: @saipienlabs, @frontend-team, @devops-team

Fix TypeScript unused import errors
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/KPIHero.tsx
  apps/web/src/layouts/AppLayout.tsx
Owners: @saipienlabs, @frontend-team

P5 Visual Overhaul: Full Brand Enforcement + Premium Enterprise UI
  apps/web/docs/P5-Visual-Overhaul-Results.md
  apps/web/package.json
  apps/web/scripts/check-brand-compliance.js
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/ui/AppSidebar.tsx
  apps/web/src/components/ui/KPIHero.tsx
  apps/web/src/components/ui/QuickActions.tsx
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/pages/ContentStudio.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.js
  package-lock.json
Owners: @saipienlabs, @devops-team, @frontend-team

Fix TypeScript unused import error in KPIHero
  apps/web/src/components/ui/KPIHero.tsx
Owners: @saipienlabs, @frontend-team

Fix test command for CI/CD compatibility
  apps/web/package.json
Owners: @saipienlabs, @devops-team

PR1: Sidebar De-Pill + Brand Rail + Active Indicator
  apps/web/src/components/AppSidebar.tsx
  apps/web/src/components/ui/AppSidebar.tsx
  apps/web/src/components/v2/AppSidebar.tsx
Owners: @saipienlabs, @frontend-team

PR2: Brand Color Application + Chart Theme + CI Guard
  apps/web/.github/workflows/ui-audit.yml
  apps/web/scripts/ui/audit-colors.ts
  apps/web/src/lib/chartTheme.ts
  apps/web/src/main.tsx
  apps/web/src/styles/globals.css
Owners: @saipienlabs, @frontend-team

PR3 - Preview Interactivity & Routing Fix: Complete Implementation
  apps/web/PR3-IMPLEMENTATION-SUMMARY.md
  apps/web/src/App.tsx
  apps/web/src/components/DiagnosticBanner.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/InteractivityStatus.tsx
  apps/web/src/lib/env.ts
  apps/web/src/main.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/tests/integration/pr3-interactivity.spec.ts
Owners: @saipienlabs, @frontend-team

PR3: Preview Interactivity & Routing Fix
  .github/workflows/ui-audit.yml
Owners: @saipienlabs, @devops-team

Phase 1: Components Foundation V2 - Create new glass-based components and update Dashboard
  apps/web/src/components/v2/DataTableV2.tsx
  apps/web/src/components/v2/GlassCard.tsx
  apps/web/src/components/v2/KpiTile.tsx
  apps/web/src/components/v2/QuickActionsRow.tsx
  apps/web/src/components/v2/RightRailTile.tsx
  apps/web/src/components/v2/index.ts
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

Fix Phase 1 performance issues and missing CSS classes
  apps/web/src/components/v2/QuickActionsRow.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
Owners: @saipienlabs, @frontend-team

Revert to working components to fix performance issue
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

CRITICAL: Fix Node.js compatibility and security issues
  .github/workflows/deploy.yml
  package.json
Owners: @saipienlabs, @devops-team

TEST: Temporarily use simplified Dashboard to isolate performance issue
  apps/web/src/App.tsx
  apps/web/src/pages/Dashboard-simple.tsx
Owners: @saipienlabs, @frontend-team

URGENT: Fix infinite re-render loop causing rapidly changing metrics
  apps/web/src/hooks/useTheme.ts
  apps/web/src/lib/chartTheme.ts
  apps/web/src/main.tsx
Owners: @saipienlabs, @frontend-team

INFRASTRUCTURE: Optimize Vite build and Cloudflare Pages configuration
  apps/web/public/_headers
  apps/web/public/_redirects
  apps/web/vite.config.ts
Owners: @saipienlabs, @frontend-team

URGENT: Fix infinite re-render loop in Orchestration/UI Agentic branch
  apps/web/src/hooks/useTheme.ts
  apps/web/src/lib/chartTheme.ts
  apps/web/src/main.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/vite.config.ts
  package.json
Owners: @saipienlabs, @frontend-team, @devops-team

CRITICAL: Bypass API calls causing 20+ second loading delays
  apps/web/src/services/kpiService.ts
Owners: @saipienlabs, @frontend-team

Phase 3: Visual & A11y QA Guardrails - Complete Implementation
  apps/web/docs/PHASE3_COMPLETION_SUMMARY.md
  apps/web/src/components/ui/AppSidebar.tsx
  apps/web/src/components/v2/KPIHero.tsx
  apps/web/src/components/v2/QuickActionsRow.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/services/analyticsService.ts
  apps/web/tests/a11y-perf/accessibility.spec.ts
  apps/web/tests/a11y-perf/posthog-flow-tracking.spec.ts
  apps/web/tests/visual/dashboard-snapshots.spec.ts
  apps/web/tests/visual/tables-snapshots.spec.ts
Owners: @saipienlabs, @frontend-team

Add Phase 3 deployment verification indicator
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

Fix TypeScript build errors for deployment
  apps/web/playwright-report/index.html
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/services/analyticsService.ts
  apps/web/test-results/results.json
Owners: @saipienlabs, @frontend-team

DEPLOYMENT TEST: Add obvious visual change to verify Cloudflare deployment
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

CRITICAL FIX: Add PostHog tracking to correct v2 AppSidebar
  apps/web/src/components/v2/AppSidebar.tsx
Owners: @saipienlabs, @frontend-team

Update Phase 3 indicator with enhanced styling
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

Fix CSS build issue preventing glass morphism and brand colors from appearing
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
Owners: @saipienlabs, @frontend-team

feat: Complete P6 AI-First Dashboard + Brand Compliance Overhaul
  apps/web/scripts/ui/audit-colors.ts
  apps/web/src/App.css
  apps/web/src/App.tsx
  apps/web/src/components/AppSidebar.tsx
  apps/web/src/components/CommandPalette.tsx
  apps/web/src/components/KPIHero.tsx
  apps/web/src/components/ai-first/AIBriefing.tsx
  apps/web/src/components/ai-first/CompactSidebar.tsx
  apps/web/src/components/ai-first/CopilotDrawer.tsx
  apps/web/src/components/ai-first/NextBestActions.tsx
  apps/web/src/components/ai-first/OpsCenter.tsx
  apps/web/src/components/ai-first/QuickActions.tsx
  apps/web/src/components/v2/KpiTile.tsx
  apps/web/src/layouts/AppLayout.tsx
  apps/web/src/pages/ContentStudio.tsx
  apps/web/src/pages/DashboardAI.tsx
  apps/web/src/styles/globals.css
  apps/web/tests/visual/ai-dashboard-snapshots.spec.ts
Owners: @saipienlabs, @frontend-team

Add Agent-APQ: Accessibility & Performance QA Infrastructure
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/tests/a11y/content-analytics-a11y.spec.ts
  apps/web/tests/a11y/dashboard-a11y.spec.ts
  apps/web/tests/performance/bundle-budget.spec.ts
Owners: @saipienlabs, @devops-team, @frontend-team

Limit gradients to primary CTAs only + enforce token usage
  apps/web/src/App.tsx
  apps/web/src/components/v3/AppSidebarV3.tsx
  apps/web/src/components/v3/KPIHeroV3.tsx
  apps/web/src/components/v3/MiniKpiRow.tsx
  apps/web/src/components/v3/NextBestActionRow.tsx
  apps/web/src/components/v3/QuickActionCard.tsx
  apps/web/src/components/v3/RightRailTile.tsx
  apps/web/src/components/v3/index.ts
  apps/web/src/layouts/AppLayoutV3.tsx
  apps/web/src/lib/chartThemeV3.ts
Owners: @saipienlabs, @frontend-team

Complete V3 Agentic UI Overhaul - All Agent Deliverables
  apps/web/.github/workflows/ui-audit-v3.yml
  apps/web/docs/DesignSystemV3.md
  apps/web/scripts/ui/audit-colors-v3.ts
  apps/web/src/pages/DashboardV3.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.js
  apps/web/tests/visual/dashboard-v3-snapshots.spec.ts
Owners: @saipienlabs, @frontend-team

Fix TypeScript errors in V3 components
  apps/web/src/components/v3/QuickActionCard.tsx
  apps/web/src/components/v3/RightRailTile.tsx
  apps/web/src/layouts/AppLayoutV3.tsx
  apps/web/src/lib/chartThemeV3.ts
  apps/web/src/services/analyticsService.ts
Owners: @saipienlabs, @frontend-team

Create pravado_unified_plan.md
  pravado_unified_plan.md
Owners: @saipienlabs

.github/CODEOWNERS:

# CODEOWNERS file defines individuals or teams responsible for code in this repository
# Order is important - the last matching pattern takes precedence

# Default owners for everything in the repo
* @saipienlabs

# Core architecture and contracts require architect approval
packages/contracts/ @saipienlabs @architect-team
packages/types/ @saipienlabs @architect-team

# API routes and backend architecture
packages/api/src/routes/ @saipienlabs @backend-team
packages/api/src/services/ @saipienlabs @backend-team

# Database migrations require DBA review
supabase/migrations/ @saipienlabs @dba-team

# Worker configuration needs DevOps approval
packages/api/wrangler.toml @saipienlabs @devops-team
packages/api/worker-configuration.d.ts @saipienlabs @devops-team

# CI/CD workflows require DevOps review
.github/workflows/ @saipienlabs @devops-team
.github/CODEOWNERS @saipienlabs @devops-team

# Security-sensitive files require security team review
scripts/devops/ph-event.ts @saipienlabs @security-team
packages/api/src/lib/jwt.ts @saipienlabs @security-team
packages/api/src/lib/auth.ts @saipienlabs @security-team

# Frontend architecture requires frontend lead approval
apps/ @saipienlabs @frontend-team
packages/ui/ @saipienlabs @frontend-team

# Documentation can be updated by any team member
docs/ @saipienlabs
*.md @saipienlabs
README* @saipienlabs

# Package configuration
package.json @saipienlabs @devops-team
package-lock.json @saipienlabs @devops-team
tsconfig*.json @saipienlabs @devops-team

# Agent and AI-related code
packages/api/src/services/agentic/ @saipienlabs @ai-team
packages/api/src/routes/analytics.ts @saipienlabs @ai-team
