Repository cryptocrystian/pravado-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @saipienlabs, @architect-team, @backend-team, @dba-team, @devops-team, @security-team, @frontend-team, @ai-team

Fix Playwright/MCP configuration and path resolution issues
  apps/web/package.json
  apps/web/playwright-base.config.ts
  apps/web/playwright-mcp.config.ts
  apps/web/scripts/mcp/test-results.json
  apps/web/tests/basic.spec.ts
  apps/web/tests/mcp-assertions.spec.ts
Owners: @saipienlabs, @devops-team, @frontend-team

FINAL CI FIX: Address all root causes of 9 failing checks
  apps/web/playwright-base.config.ts
  apps/web/playwright-mcp.config.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/test-results.json
  apps/web/tests/basic.spec.ts
Owners: @saipienlabs, @frontend-team

Fix CI workflow: disable old nodejs.yml and install only chromium browser
  .github/workflows/ci.yml
  .github/workflows/nodejs.yml
  scripts/mcp/playwright.config.ts
  scripts/ui/audit-results.json
Owners: @saipienlabs, @devops-team

Fix MCP global setup path issue
  apps/web/playwright-mcp.config.ts
  scripts/mcp/test-results/.last-run.json
Owners: @saipienlabs, @frontend-team

Fix CI Playwright installation and test output paths
  .github/workflows/ci.yml
  apps/web/playwright-base.config.ts
  apps/web/playwright-mcp.config.ts
  scripts/ui/audit-results.json
Owners: @saipienlabs, @devops-team, @frontend-team

Disable duplicate UI audit workflow
  .github/workflows/ui-audit.yml
Owners: @saipienlabs, @devops-team

Fix MCP test failures: Add missing UI attributes and responsive behavior
  apps/web/scripts/mcp/test-results.json
  apps/web/src/components/AIRecommendationCard.tsx
  apps/web/src/components/Sidebar.tsx
  apps/web/src/pages/Dashboard.tsx
Owners: @saipienlabs, @frontend-team

Fix Playwright browser installation in CI - Remove caching that breaks dependencies
  .github/workflows/ci.yml
Owners: @saipienlabs, @devops-team

Fix critical context and theming issues based on comprehensive audit
  apps/web/scripts/mcp/test-results.json
  apps/web/src/App.tsx
  apps/web/src/components/AIRecommendationCard.tsx
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/Sidebar.tsx
  apps/web/src/contexts/ThemeContext.tsx
  apps/web/src/hooks/useThemeRouting.ts
  apps/web/src/lib/query-client.ts
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/styles/globals.css
  apps/web/tailwind.config.ts
  apps/web/test-results.json
Owners: @saipienlabs, @frontend-team

Add mobile responsiveness and theme toggle functionality
  apps/web/src/components/Header.tsx
  apps/web/src/components/Layout.tsx
  apps/web/src/components/MobileMenu.tsx
  apps/web/src/components/ThemeToggle.tsx
  apps/web/src/contexts/ThemeContext.tsx
  apps/web/src/hooks/useTheme.ts
  apps/web/src/hooks/useThemeRouting.ts
  apps/web/src/lib/theme-context.ts
Owners: @saipienlabs, @frontend-team

CRITICAL FIX: Restore Playwright MCP testing pipeline
  .github/workflows/ci-fixed.yml
  .github/workflows/ci.yml
Owners: @saipienlabs, @devops-team

Add modular context system and fix MCP pipeline tests
  apps/web/src/components/Sidebar.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/tests/mcp-assertions.spec.ts
  docs/CLAUDE-AI-ORCHESTRATION.md
  docs/CLAUDE-CORE.md
  docs/CLAUDE-DATA-CONTRACTS.md
  docs/CLAUDE-PHASE-FOCUS.md
  docs/CLAUDE-UX-ARCHITECTURE.md
  docs/README.md
  docs/archive/pravado_master_spec.md
  docs/archive/pravado_unified_plan.md
Owners: @saipienlabs, @frontend-team

feat: Implement Marketing Director automation-first dashboard
  apps/web/apps/web/tests/mcp-assertions.spec.ts
  apps/web/playwright-mcp.config.ts
  apps/web/scripts/mcp/test-results.json
  apps/web/src/App.tsx
  apps/web/src/components/marketing-director/AIStrategicInsights.tsx
  apps/web/src/components/marketing-director/BudgetTracker.tsx
  apps/web/src/components/marketing-director/CompetitiveIntelligence.tsx
  apps/web/src/components/marketing-director/ExecutiveActions.tsx
  apps/web/src/components/marketing-director/StrategicOverview.tsx
  apps/web/src/components/marketing-director/TeamPerformance.tsx
  apps/web/src/pages/MarketingDirectorDashboard.tsx
  apps/web/test-results.json
  apps/web/tests/marketing-director.spec.ts
  apps/web/workflow-logs.zip
Owners: @saipienlabs, @frontend-team

feat: Implement Marketing Director automation-first dashboard
  apps/web/apps/web/tests/mcp-assertions.spec.ts
  apps/web/src/components/marketing-director/AIStrategicInsights.tsx
  apps/web/src/components/marketing-director/BudgetTracker.tsx
  apps/web/src/components/marketing-director/CompetitiveIntelligence.tsx
  apps/web/src/components/marketing-director/ExecutiveActions.tsx
  apps/web/src/components/marketing-director/StrategicOverview.tsx
  apps/web/src/components/marketing-director/TeamPerformance.tsx
  apps/web/src/pages/MarketingDirectorDashboard.tsx
  apps/web/tests/marketing-director.spec.ts
  apps/web/workflow-logs.zip
Owners: @saipienlabs, @frontend-team

fix: Update CI workflow to use npm instead of pnpm
  .github/workflows/nodejs.yml
Owners: @saipienlabs, @devops-team

fix: Remove npm cache dependency path to resolve CI caching issue
  .github/workflows/nodejs.yml
Owners: @saipienlabs, @devops-team

feat: Add package.json and package-lock.json to apps/web for CI
  apps/web/package-lock.json
  apps/web/package.json
Owners: @saipienlabs, @devops-team

fix: Use npm install instead of npm ci to resolve package sync issues
  .github/workflows/nodejs.yml
Owners: @saipienlabs, @devops-team

feat: Add essential build configuration for Marketing Director dashboard
  apps/web/index.html
  apps/web/postcss.config.js
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/styles/globals.css
  apps/web/src/vite-env.d.ts
  apps/web/tailwind.config.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Owners: @saipienlabs, @frontend-team, @devops-team

Fix TypeScript unused parameter warnings
  apps/web/src/components/marketing-director/StrategicOverview.tsx
Owners: @saipienlabs, @frontend-team

Fix Cloudflare Pages deployment workflow
  .github/workflows/deploy-pages.yml
Owners: @saipienlabs, @devops-team

Make Cloudflare deployment conditional on API token availability
  .github/workflows/nodejs.yml
Owners: @saipienlabs, @devops-team

Fix missing CSS import in main.tsx
  apps/web/src/main.tsx
Owners: @saipienlabs, @frontend-team

Add live deployment URL to README
  README.md
Owners: @saipienlabs

Integrate Supabase backend with PRAVADO v2 Foundation
  docs/claude/CLAUDE-ARCHITECTURE.md
  docs/claude/CLAUDE-CURRENT-TASK.md
  docs/claude/CLAUDE-DESIGN-SYSTEM-V1_3A.md.backup
  docs/claude/CLAUDE-DESIGN-SYSTEM.md
  docs/claude/CLAUDE-ONBOARDING.md
  docs/claude/CLAUDE-QUALITY-GATES.md
  docs/claude/CLAUDE-USER-PROFILES.md
  docs/claude/PRAVADO-FEATURES-FUNCTIONALITY.md
  docs/claude/PRAVADO-SOURCE-OF-TRUTH.md
  docs/claude/README.md
Owners: @saipienlabs

.github/CODEOWNERS:

# CODEOWNERS file defines individuals or teams responsible for code in this repository
# Order is important - the last matching pattern takes precedence

# Default owners for everything in the repo
* @saipienlabs

# Core architecture and contracts require architect approval
packages/contracts/ @saipienlabs @architect-team
packages/types/ @saipienlabs @architect-team

# API routes and backend architecture
packages/api/src/routes/ @saipienlabs @backend-team
packages/api/src/services/ @saipienlabs @backend-team

# Database migrations require DBA review
supabase/migrations/ @saipienlabs @dba-team

# Worker configuration needs DevOps approval
packages/api/wrangler.toml @saipienlabs @devops-team
packages/api/worker-configuration.d.ts @saipienlabs @devops-team

# CI/CD workflows require DevOps review
.github/workflows/ @saipienlabs @devops-team
.github/CODEOWNERS @saipienlabs @devops-team

# Security-sensitive files require security team review
scripts/devops/ph-event.ts @saipienlabs @security-team
packages/api/src/lib/jwt.ts @saipienlabs @security-team
packages/api/src/lib/auth.ts @saipienlabs @security-team

# Frontend architecture requires frontend lead approval
apps/ @saipienlabs @frontend-team
packages/ui/ @saipienlabs @frontend-team

# Documentation can be updated by any team member
docs/ @saipienlabs
*.md @saipienlabs
README* @saipienlabs

# Package configuration
package.json @saipienlabs @devops-team
package-lock.json @saipienlabs @devops-team
tsconfig*.json @saipienlabs @devops-team

# Agent and AI-related code
packages/api/src/services/agentic/ @saipienlabs @ai-team
packages/api/src/routes/analytics.ts @saipienlabs @ai-team
